html {
  height: 100%;
}
body {
  height: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.scroll {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.main {
  position: relative;
  height: 100%;
}
.main .linear-gradient-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 6.9333rem;
  background: linear-gradient(#FFCCD7, rgba(251, 226, 255, 0)) no-repeat;
  z-index: -1;
}
.main .top-nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4267rem;
  height: 1.1733rem;
  font-size: 0.48rem;
  font-weight: 500;
}
.main .top-nav-section .left .top-nav-item {
  position: relative;
  color: #888C98;
  margin-right: 0.5333rem;
}
.main .top-nav-section .left .top-nav-item.active {
  color: #2A2D34;
  font-weight: 800;
}
.main .top-nav-section .left .top-nav-item.active .nav-item-point {
  position: absolute;
  right: -0.0533rem;
  top: -0.0533rem;
  width: 0.2667rem;
  height: 0.2667rem;
  background-color: rgba(248, 100, 154, 0.8);
  border-radius: 50%;
}
.main .top-nav-section .right {
  display: flex;
}
.main .top-nav-section .right .rank-item {
  width: 1.6rem;
  height: 0.4267rem;
}
.main .top-nav-section .right .rank-item img {
  width: 100%;
}
.main .search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.1733rem;
}
.main .search-section .search-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-size: 0.3733rem;
  color: #8A8E99;
  width: 9.0667rem;
  height: 0.8533rem;
  border-radius: 0.4267rem;
  box-sizing: border-box;
  padding-left: 0.4267rem;
}
.main .search-section .search-item img {
  width: 0.5333rem;
  height: 0.5333rem;
  margin-right: 0.2133rem;
}
.main .recommend-title-section {
  display: flex;
  padding: 0.5333rem 0.4267rem;
  background-color: #fff;
}
.main .recommend-title-section .recommend-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.1333rem;
  height: 0.4267rem;
  margin-right: 0.4267rem;
  position: relative;
}
.main .recommend-title-section .recommend-title-wrapper .indicator-bar {
  display: none;
  margin-top: 0.16rem;
  width: 0.8rem;
  height: 0.0533rem;
}
.main .recommend-title-section .recommend-title-wrapper.active .indicator-bar {
  display: block;
}
.main .recommend-title-section .recommend-title-wrapper .hot-icon {
  position: absolute;
  width: 0.4267rem;
  right: -0.2133rem;
  top: -0.2667rem;
}
.main .high-recommend-wrapper {
  padding: 0.2667rem 0.5333rem 0;
}
.main .high-recommend-wrapper .swiper-container {
  width: 100%;
  height: 4.8rem;
}
.main .high-recommend-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  position: relative;
  overflow: hidden;
  border-radius: 0.16rem;
}
.main .high-recommend-wrapper .swiper-slide .flag {
  position: absolute;
  padding: 0 0.16rem;
  height: 0.5867rem;
  line-height: 0.5867rem;
  background-color: #FD4E8E;
  top: 0;
  right: 0;
  font-style: normal;
  font-size: 0.32rem;
  color: #fff;
  border-bottom-left-radius: 0.2933rem;
}
.main .high-recommend-wrapper .swiper-slide img {
  height: 100%;
  object-fit: cover;
}
.main .high-recommend-wrapper .swiper-slide .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.2267rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.main .high-recommend-wrapper .swiper-slide .user-info .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .avatar-container {
  width: 0.8rem;
  height: 0.8rem;
  background: url('../../assets/imgs/lss.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .avatar {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  object-fit: cover;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .name-level-info {
  margin-left: 0.16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .name-level-info .name {
  max-width: 1.6667rem;
  font-size: 0.32rem;
  color: #FAFDFF;
  margin-bottom: 0.1067rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .name-level-info .level-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .high-recommend-wrapper .swiper-slide .user-info .left .name-level-info .level-container img {
  width: 0.3733rem;
}
.main .high-recommend-wrapper .swiper-slide .user-info .right {
  padding-right: 0.2133rem;
}
.main .high-recommend-wrapper .swiper-slide .user-info .right img {
  width: 24px;
  height: 0.64rem;
}
.main .high-recommend-wrapper .swiper-slide-active,
.main .high-recommend-wrapper .swiper-slide-duplicate-active {
  transform: scale(1);
}
.main .cat-section {
  margin-top: 0.2667rem;
  padding: 0.2667rem 0.4267rem;
}
.main .cat-section .scroll-bar {
  display: flex;
  align-items: center;
}
.main .cat-section .scroll-bar .cat-item {
  padding: 0 0.2667rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.4267rem;
  color: #666E80;
  margin-right: 0.48rem;
  font-weight: 500;
  background-color: #F0F0F0;
  border-radius: 0.32rem;
}
.main .cat-section .scroll-bar .cat-item.active {
  color: #F9FBFF;
  background-color: #FD4E8E;
}
.main .video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
}
.main .video-wrapper .player {
  width: 100%;
  height: 100%;
}
.main .video-wrapper .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1067rem 0.2133rem;
  color: #fff;
  background-color: transparent;
  font-size: 0.4267rem;
}
