html {
  height: 100%;
}
body {
  height: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.nav {
  font-size: 0.4733rem;
  width: 100%;
  height: 0.8rem;
  z-index: 2;
  color: #7e7e7e;
  position: absolute;
  box-shadow: 0rem 0.02rem 0.1rem 0rem rgba(31, 0, 157, 0.1);
  background: #ffffffbd;
}
.nav h1 {
  font-size: 0.4733rem;
  display: inline-block;
}
.nav a {
  color: #7e7e7e;
}
.main .content-wrapper {
  position: relative;
}
.main .content-wrapper .content-bg {
  width: 100%;
}
.main .content-wrapper .content-list {
  position: absolute;
  top: 2.4rem;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.main .content-wrapper .content-list .content-desc {
  padding: 0 0.4267rem;
}
.main .content-wrapper .content-list .content-item {
  box-sizing: border-box;
  padding-bottom: 0.5333rem;
  padding-top: 0.5333rem;
}
.main .content-wrapper .content-list .content-item:last-child {
  border-bottom: none;
}
.main .content-wrapper .content-list .content-item:nth-child(odd) {
  padding-left: 0.8rem;
  padding-right: 1.3333rem;
}
.main .content-wrapper .content-list .content-item:nth-child(even) {
  padding-left: 1.3333rem;
  padding-right: 0.8rem;
}
.main .talk-wrapper {
  position: relative;
  font-size: 0.3733rem;
  background: #f7f7f7;
  display: flow-root;
}
.main .talk-wrapper-header {
  padding: 0.2rem;
  padding-bottom: 0;
  color: #737980;
}
.main .talk-wrapper-more {
  text-align: center;
  color: #737980;
  padding-bottom: 0.2rem;
  margin-top: 0.5rem;
}
.main .talk-wrapper-item {
  position: relative;
  margin: 0.2rem;
  background: #fff;
  padding: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
}
.main .talk-wrapper-item-ava {
  display: flex;
}
.main .talk-wrapper-item-ava-img {
  margin-right: 0.2rem;
  display: flex;
  align-self: center;
}
.main .talk-wrapper-item-ava-img img {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}
.main .talk-wrapper-item-ava-name .dsc {
  font-size: 0.3rem;
  color: #737980;
}
.main .talk-wrapper-item-content {
  margin-top: 0.2rem;
}
.main .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.4267rem 0;
  height: 4rem;
  text-align: center;
  font-size: 0.3733rem;
  box-sizing: border-box;
}
.main .footer .beian-1 .license-icon,
.main .footer .beian-2 .license-icon {
  width: 1rem;
}
.main .footer .beian-1 .emblem-icon,
.main .footer .beian-2 .emblem-icon {
  width: 0.5333rem;
}
.main .footer .customer-service span:nth-child(2) {
  margin-left: 0.2133rem;
}
.main .footer .footer-tips {
  font-size: 0.33rem;
}
.main .footer .footer-tips .footer-alert-icon {
  width: 0.4rem;
}
.main .download-wrapper {

  left: 0;
  bottom: 1rem;
  right: 0;
  display: flex;
  justify-content: center;
}
.main .download-wrapper a {
  width: 3.2rem;
  height: 1.3867rem;
}
.main .download-wrapper a:last-child {
  margin-left: 0.5333rem;
}
